# This workflow will build and deploy docs to GitHub Pages whenever something is pushed to the main branch

name: Docs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  docs:
    name: Build and deploy docs
    runs-on: ubuntu-latest
    concurrency: # Allow one concurrent deployment
      group: pages
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Build docs with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: --stacktrace --info dokkaHtmlMultiModule
      - name: Deploy docs to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/dokka/htmlMultiModule
          branch: gh-pages
          git-config-name: GitHub Actions
          git-config-email: actions@github.com
          commit-message: Update docs
