# This workflow will build and push docs to the gh-pages branch whenever something is pushed to 0.8.x.

name: Docs
on:
  push:
    branches:
      - 0.8.x
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  update_docs:
    name: Update docs
    runs-on: ubuntu-latest

    env:
      GITHUB_TAG_NAME: ${{ github.event.release.tag_name }}
      GITHUB_BRANCH_NAME: ${{ github.ref }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 8
      - name: Build docs with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: --stacktrace --info dokkaHtmlMultiModule
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: build/dokka/htmlMultiModule
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: update_docs
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
